<ion-view title="Bicicleta vista" hide-nav-bar="true" id="page10">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="bicicletaVista-heading10" style="color:#000000;text-align:center;">Bicicleta vista</h3>
    <form id="bicicletaVista-form11" class="list">
      <h4 id="bicicletaVista-heading11" style="color:#000000;">¿Donde viste la bicicleta?</h4>
      <label class="item item-input item-stacked-label" id="bicicletaVista-input21">
        <span class="input-label">Agregar direccion:</span>
        <input type="text" placeholder="">
      </label>
      <button id="bicicletaVista-button28" style="font-weight:600;color:#0A0A0A;" class="button button-energized  button-block icon-right ion-android-pin">Buscar con GoogleMaps</button>
      <h4 id="bicicletaVista-heading12" style="color:#000000;">Sube fotos de la bicicleta vista</h4>
    </form>
    <div id="bicicletaVista-container6">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="bicicletaVista-slider3" style="width:100%;height:200px;">
        <ion-slide-page id="bicicletaVista-slide25" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="bicicletaVista-slide26"></ion-slide-page>
        <ion-slide-page id="bicicletaVista-slide27" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <form id="bicicletaVista-form12" class="list">
        <label class="item item-input" id="bicicletaVista-textarea2">
          <span class="input-label">¿Como la viste?</span><textarea placeholder="Describe los hechos."></textarea></label>
        <button id="bicicletaVista-button29" style="border-radius:5px 5px 5px 5px;" class="button button-energized  button-block">Enviar</button>
      </form>
    </div>
  </ion-content>
</ion-view>