<ion-view title="Bicicletas reportadas" hide-nav-bar="true" id="page11">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="bicicletasReportadas-button-bar9" class="button-bar">
      <button id="bicicletasReportadas-button36" style="font-weight:600;color:#000000;" class="button button-energized  button-block">Robadas</button>
      <a ui-sref="recuperadas" id="bicicletasReportadas-button37" style="font-weight:600;color:#000000;" class="button button-energized  button-block">Recuperadas</a>
    </div>
    <div id="bicicletasReportadas-container7">
      <div class="list card" id="bicicletasReportadas-card23">
        <ion-item class="item-thumbnail-left" id="bicicletasReportadas-list-item25">
          <img src="img/YQOnpWATUWSzXxqQRwSm_bicicleta.jpg">
          <h2>Item 1</h2>
          <p>Item text</p>
        </ion-item>
        <div class="spacer" style="height: 15px;"></div>
        <ion-item class="item-thumbnail-left" id="bicicletasReportadas-list-item27">
          <img src="img/YQOnpWATUWSzXxqQRwSm_bicicleta.jpg">
          <h2>Item 1</h2>
          <p>Item text</p>
        </ion-item>
        <div class="spacer" style="height: 15px;"></div>
        <ion-item class="item-thumbnail-left" id="bicicletasReportadas-list-item28">
          <img src="img/YQOnpWATUWSzXxqQRwSm_bicicleta.jpg">
          <h2>Item 1</h2>
          <p>Item text</p>
        </ion-item>
        <div class="spacer" style="height: 15px;"></div>
        <ion-item class="item-thumbnail-left" id="bicicletasReportadas-list-item29">
          <img src="img/YQOnpWATUWSzXxqQRwSm_bicicleta.jpg">
          <h2>Item 1</h2>
          <p>Item text</p>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>