<ion-view title="Botón de pánico" hide-nav-bar="true" id="page13">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/bmacroS8TZWMi9bRZK9K_BotonPanico.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 80px;"></div>
    <h4 id="botNDePNico-heading13" style="color:#000000;text-align:center;">Oprime el botón para reportar una bicicleta robada</h4>
  </ion-content>
</ion-view>