<ion-view title="Configuración" hide-nav-bar="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="configuraciN-heading9" style="color:#000000;font-weight:600;text-align:center;">Configuración</h3>
    <ion-list id="configuraciN-list7">
      <ion-toggle toggle-class="toggle-energized" id="configuraciN-toggle1">Home de pánico</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="configuraciN-toggle2">Publicación de fotos</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="configuraciN-toggle4">Notificación por correo</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="configuraciN-toggle5">Notificaciones</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>