<ion-view title="InfoBicicleta" hide-nav-bar="true" id="page5">
  <ion-content padding="true" style="background: url(img/ovXleOPSg65sXjbCQxjw_Groound.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="infoBicicleta-form8" class="list">
      <div class="spacer" style="height: 90px;"></div>
      <h4 id="infoBicicleta-heading5" style="color:#000000;text-align:center;">Información de la bicicleta</h4>
      <button id="infoBicicleta-button34" style="font-weight:600;" class="button button-dark  button-block button-outline icon ion-camera"></button>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="infoBicicleta-slider2" style="width:100%;height:200px;">
        <ion-slide-page id="infoBicicleta-slide211" class="padding">
          <div style="display:table;width:100%;height:100%;">
            <div style="display:table-row;">
              <div style="display:table-cell;vertical-align:middle;"></div>
            </div>
          </div>
        </ion-slide-page>
        <ion-slide-page id="infoBicicleta-slide212"></ion-slide-page>
        <ion-slide-page id="infoBicicleta-slide21"></ion-slide-page>
      </ion-slides>
      <label class="item item-select" id="infoBicicleta-select1">
        <span class="input-label">Marca:</span>
        <select></select>
      </label>
      <label class="item item-select" id="infoBicicleta-select3">
        <span class="input-label">Color:</span>
        <select></select>
      </label>
      <label class="item item-input item-stacked-label" id="infoBicicleta-input6">
        <span class="input-label">Confirmación del id:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="infoBicicleta-input5">
        <span class="input-label">Id del marco:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="infoBicicleta-select4">
        <span class="input-label">Tipo:</span>
        <select></select>
      </label>
      <label class="item item-input" id="infoBicicleta-textarea1">
        <span class="input-label">Caracteristicas</span><textarea placeholder="Caracteristicas de tu bicicleta."></textarea></label>
      <ion-checkbox id="infoBicicleta-checkbox1">Acepto la publicación de fotos</ion-checkbox>
      <ion-checkbox id="infoBicicleta-checkbox2">Acepto los terminos y condiciones</ion-checkbox>
      <div id="infoBicicleta-button-bar7" class="button-bar">
        <a ui-sref="registro" id="infoBicicleta-button14" class="button button-dark button-small button-block button-clear icon-left ion-arrow-left-c"></a>
        <button id="infoBicicleta-button16" style="font-weight:600;color:#070707;font-size:14px;text-align:right;" class="button button-dark button-small button-block button-clear">Registrar</button>
      </div>
    </form>
  </ion-content>
</ion-view>