<ion-view title="Link cambio contraseña" hide-nav-bar="true" id="page6" style="background-color:#DFD90A;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="linkCambioContraseA-container3">
      <div>
        <img src="img/2xmCGsydT06k1ERwkgci_BipoLogo-02.png" style="display:block;width:30%;height:auto;">
      </div>
    </div>
    <h4 id="linkCambioContraseA-heading6" style="color:#000000;text-align:center;">Redirección a la página web</h4>
    <h5 id="linkCambioContraseA-heading7" style="color:#000000;font-weight:600;">Restaurar tu contraseña</h5>
    <div id="linkCambioContraseA-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ingresa una contraseña con una longitud minima de 6 caracteres.</p>
    </div>
    <h4 id="linkCambioContraseA-heading8" style="color:#949292;text-align:center;">Correo@correo.com</h4>
    <form id="linkCambioContraseA-form9" class="list">
      <label class="item item-input item-stacked-label" id="linkCambioContraseA-input7">
        <span class="input-label">Contraseña:</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="linkCambioContraseA-input8">
        <span class="input-label">Confirmar contraseña:</span>
        <input type="password" placeholder="">
      </label>
      <button id="linkCambioContraseA-button17" style="font-weight:600;font-size:17px;" class="button button-dark  button-block button-outline">Restaurar</button>
    </form>
  </ion-content>
</ion-view>