<ion-view title="Recuperadas" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="recuperadas-button-bar10" class="button-bar">
      <a ui-sref="bicicletasReportadas" id="recuperadas-button39" style="font-weight:600;color:#000000;" class="button button-energized  button-block">Robadas</a>
      <button id="recuperadas-button40" style="font-weight:600;color:#000000;" class="button button-energized  button-block">Recuperadas</button>
    </div>
    <div id="recuperadas-container8">
      <div class="list card" id="recuperadas-card24">
        <ion-item class="item-thumbnail-left" id="recuperadas-list-item30">
          <img src="img/YQOnpWATUWSzXxqQRwSm_bicicleta.jpg">
          <h2>Item 1</h2>
          <p>Item text</p>
        </ion-item>
        <div class="spacer" style="height: 15px;"></div>
        <ion-item class="item-thumbnail-left" id="recuperadas-list-item31">
          <img src="img/YQOnpWATUWSzXxqQRwSm_bicicleta.jpg">
          <h2>Item 1</h2>
          <p>Item text</p>
        </ion-item>
        <div class="spacer" style="height: 15px;"></div>
        <ion-item class="item-thumbnail-left" id="recuperadas-list-item32">
          <img src="img/YQOnpWATUWSzXxqQRwSm_bicicleta.jpg">
          <h2>Item 1</h2>
          <p>Item text</p>
        </ion-item>
        <div class="spacer" style="height: 15px;"></div>
        <ion-item class="item-thumbnail-left" id="recuperadas-list-item33">
          <img src="img/YQOnpWATUWSzXxqQRwSm_bicicleta.jpg">
          <h2>Item 1</h2>
          <p>Item text</p>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>