<ion-view title="Registro" hide-nav-bar="true" id="page4">
  <ion-content padding="true" style="background: url(img/6jExnApnRRiAkxMRn4DM_Groound.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="registro-form6" class="list">
      
      <div class="spacer" style="height: 100px;"></div>
      <h4 id="registro-heading4" style="color:#000000;text-align:center;">Información personal</h4>
      <label class="item item-input item-stacked-label" id="registro-input13">
        <span class="input-label">Nombres:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="registro-input14">
        <span class="input-label">Apellidos:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="registro-input15">
        <span class="input-label">Fecha de nacimiento:</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="registro-input16">
        <span class="input-label">Número celular:</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="registro-input17">
        <span class="input-label">Cédula:</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="registro-input18">
        <span class="input-label">Password:</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="registro-input19">
        <span class="input-label">Verificar password:</span>
        <input type="password" placeholder="">
      </label>
      <div id="registro-button-bar6" class="button-bar">
        <a ui-sref="login" id="registro-button31" style="font-weight:600;text-align:left;" class="button button-dark  button-block button-clear">Cancelar</a>
        <a ui-sref="infoBicicleta" id="registro-button33" style="text-align:right;" class="button button-dark  button-block button-clear icon ion-arrow-right-c"></a>
      </div>
    </form>
  </ion-content>
</ion-view>