<ion-view title="Restaurar contraseña" hide-nav-bar="true" id="page3">
  <ion-content padding="true" style="background: url(img/a3z8tA3bTdyi9ooaL9XA_Groound.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 100px;"></div>
    <div id="restaurarContraseA-container1">
      <h3 id="restaurarContraseA-heading2" style="color:#000000;text-align:center;">¿Olvidaste tu contraseña?</h3>
      <div id="restaurarContraseA-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Restauraremos tu contraseña por medio de tu correo electronico.</p>
      </div>
      <form id="restaurarContraseA-form2" class="list">
        <label class="item item-input item-stacked-label" id="restaurarContraseA-input3">
          <span class="input-label">Correo:</span>
          <input type="email" placeholder="Ingresa tu correo">
        </label>
        <a ui-sref="linkCambioContraseA" id="restaurarContraseA-button26" style="font-weight:600;" class="button button-dark  button-block button-clear">Restaurar contraseña</a>
      </form>
    </div>
  </ion-content>
</ion-view>